<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>

		<title>Document</title>
	</head>
	<script>
		tailwind.config = {
			theme: {
				extend: {
					colors: {
						clifford: "#da373d",
					},
				},
			},
		};
	</script>
	<body>
		<section class="text-gray-600 body-font">
			<div
				class="container mx-auto flex px-5 py-24 items-center justify-center flex-col"
			>
				<div
					class="w-[40%] h-96 shadow-xl rounded-md m-4 p-8 text-2xl font-semibold flex flex-col gap-4"
				>
					<h1>SERVER DETAILS</h1>
					<h1>CONTAINER ID : <b class="text-black"> <%= containerID %></b></h1>
					<p>ENVIRONMENT : <b class="text-black"><%= environment%> </b></p>
					<p>STRIPE KEY :<b class="text-black"> <%= stripeKey %></b></p>
					<p>APP URL : <b class="text-black"><%= appUrl%> </b></p>
				</div>
				<div class="text-center lg:w-2/3 w-full">
					<h1
						class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
					>
						NODE APP WITH EJS TEMPLATE
					</h1>
					<p class="mb-8 leading-relaxed">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur
						dicta blanditiis suscipit facere. Harum eos sequi veniam odio hic
						obcaecati ea rerum beatae similique. Suscipit optio voluptatibus
						reiciendis nostrum omnis.
					</p>
					<div class="flex justify-center">
						<button
							class="inline-flex text-white bg-blue-500 border-0 py-4 px-8 focus:outline-none hover:bg-green-600 rounded text-xl"
						>
							Button
						</button>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
